@font-face {
  font-family: 'ElfFont';
  src: url('https://github.com/justfont/Elffont/raw/refs/heads/main/fonts/elffont-rock.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}